# Xcode
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Swift Package Manager
.build/

# Promo Video Mini-Project Exclusion
PromoVideo/
promoVideo/
*render*.mp4
*render*.png
*render*.mov
